.category{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 26px 0 23px 0 ;
}


@media (max-width: 645px) {
    .category{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }
    
}