.section_one_text h3 {
    color: rgb(34, 38, 42);
    font-family: "Poppins";
    font-size: 27px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: left;
    margin: 45px 0 11px 0;

}

.section_one_text p {
    color: rgb(34, 38, 42);
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: center;
    width:197px;
}

.section_one_img{
    margin-left:50px;
}

.flex_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}